.text-left{
  text-align: left;
}
.sidebar-closebtn{
  margin: 0px;
  position: absolute;
  right: 0px;
}
.round-shape{
  border-radius: 50%;
}
.padding0{
  padding:0px;
}
.paddingLR0{
  padding-left:0px;
  padding-right:0px;
}
.margin0{
  margin:0px;
}
.marginLR0{
  margin-left:0px;
  margin-right:0px;
}