$root-image-path: '/asset/images';
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url($root-image-path + "/bg.png");
}
@import './data_source/icons.css';
@import 'App';

.App{
  overflow: hidden;
  position: relative
}

.menuList{
  & > div{
    transition: 0.5s all;
    &:hover,.active{
      border-left:3px solid gray;
      font-weight: 700;
    }
  }
}

@media (min-width:960px) {
  .left-menu-opened + main{
    padding-left:15vw;
  }
  .left-menu-closed + main{
    padding-left:0;
  }
  .left-menu-opened + main + footer{
    padding-left:15vw;
  }
  .left-menu-closed + main + footer{
    padding-left:0;
  }
}

